:root {
    --gap: 5px;
    --trans-speed: 0.5s;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;

    &>* {
        padding: var(--gap);
        margin: var(--gap);
    }

    .header {
        display: inline;
    }

    .footer {
        display: inline;
    }

    .main {
        flex: auto;
        min-height: 5vh;
    }

    .scroll {
        overflow-y: auto;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerMenu {
    display: grid;
    grid-template-columns: 4vw auto;
    align-items: center;
}

.menu {
    .menuItem {
        display: inline;
        font-size: 3vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        padding: 3px 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .active {
        color: dodgerblue !important;
    }
}

.siteIcon {
    background-image: URL('../images/cloud.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.75vw;
    height: 3.75vw;
}

@media (min-width : 1100px) {
    .menu {
        .menuItem {
            font-size: 33px;
        }
    }

    .headerMenu {
        grid-template-columns: 45px auto;
    }

    .siteIcon {
        width: 40px;
        height: 40px;
    }
}

.page {
    border: 3px solid #b85c38;
}

.header {
    border: 3px solid #00bfff;
}

.main {
    border: 3px solid #00aa55;
}

.footer {
    border: 3px solid #ff0000;
}

.content p {
    margin-bottom: 15px;
    font-family: sans-serif;
}

.fading {
    animation: fading 8s infinite;
}

@keyframes fading {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.slideshow {
    margin: auto;
    max-width: 600px;
    
}

.slide {
    width: 100%;
}